@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --blue-color: #1e4681;
  --header-heading: 80px;
  --heading-font-size-55: 55px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 80%;
  max-width: 1271px;
  margin: auto;
}

.flex {
  display: flex;
}

.font-size-20 {
  font-size: 20px;
}

/*#region start Header*/

.header-logo {
  padding-top: 21px;
}

.header-info {
  margin-top: 97px;
}

.header-course {
  margin-right: 25px;
}

.header-course p {
  margin-left: 10px;
}

.header-course img {
  object-fit: cover;
}

.header-main {
  margin-top: 29px;
}

.header-main-text p {
  width: 60%;
  margin-top: 20px;
}

.header-main-image {
  position: relative;
  object-fit: cover;
}

.ellipse1 {
  position: absolute;
  z-index: -1;
  left: 35px;
  bottom: -16px;
}

.header-main-box {
  align-items: flex-start;
  justify-content: space-between;
}

.header-main-text h2 {
  font-size: var(--header-heading);
  font-family: "Roboto Slab", serif;
  line-height: 81.11px;
  width: 80%;
}

.header-quote {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  background-color: var(--blue-color);
  color: #fff;
  font-family: "Roboto Slab", serif;
  width: 40%;
  padding: 19.26px 60.03px 19.26px 26.03px;
  font-size: 25px;
}

.header-quote {
  margin-top: 39.17px;
  font-weight: 400;
}

.header-quote p {
  font-size: 20px;
  text-align: right;
}

@media (min-width: 320px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
  .header-main-text h2 {
    font-size: 35px;
    line-height: 37.51px;
    width: 100%;
  }

  .header-logo {
    width: 52.19px;
    height: 30.75px;
  }

  .header-logo img {
    width: 100%;
  }

  .header-info {
    margin-top: 45px;
  }

  .globus {
    width: 10.25px;
    height: 9.79px;
  }

  .watch {
    width: 10.25px;
    height: 10.25px;
  }

  .calendar {
    width: 9.32px;
    height: 10.25px;
  }

  .man {
    width: 141.68px;
    height: 175.1px;
  }

  .ellipse1 {
    width: 127.68px;
    height: 19.1px;
    left: 18px;
    bottom: -4px;
  }

  .header-main-box {
    flex-direction: column;
  }

  .header-course {
    margin-right: 10px;
  }

  .header-course p {
    font-size: 10px;
    line-height: 15px;
    margin-left: 7px;
  }

  .header-main-box {
    flex-direction: column;
  }

  .header-main-image {
    margin-left: 135px;
  }

  .header-main-image img {
    width: 100%;
  }

  .header-main-text p {
    font-size: 10px;
    width: 73%;
  }

  .header-quote {
    padding: 8.260000000000002px 19.03px 10.260000000000002px 17.03px;
    width: 225.36px;
    height: 93.19px;
    font-size: 11px;
    left: 40%;
  }

  .header-quote p {
    font-size: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  body {
    font-size: 14px;
    line-height: 21px;
  }

  .header-logo {
    width: 64.87px;
    height: 38.23px;
  }

  .header-course {
    margin-right: 15px;
  }

  .header-course p {
    font-size: 12px;
  }

  .globus {
    width: 12.74px;
    height: 12.16px;
  }

  .watch {
    width: 12.74px;
    height: 12.74px;
  }

  .calendar {
    width: 11.58px;
    height: 12.74px;
  }

  .header-main-text h2 {
    font-size: 46px;
    line-height: 46.64px;
  }

  .header-main-text p {
    font-size: 12px;
    line-height: 18px;
  }

  .header-main-image {
    width: 176.07px;
    height: 206.18px;
  }

  .header-main-image img {
    width: 100%;
  }

  .header-quote {
    font-size: 14px;
    width: 45%;
    left: 39%;
  }

  .header-quote p {
    font-size: 12px;
  }

  .ellipse1 {
    left: 15px;
    bottom: -12px;
  }
}

/*#endregion  Header */

/*#region About */

.h2 {
  padding-top: 90px;
  padding-bottom: 55px;
  font-size: 55px;
}

.about {
  width: 100vw;
}

.about-text {
  display: flex;
  align-items: center;
}

.about-image {
  position: relative;
}

.ellipse {
  position: absolute;
  z-index: -1;
  left: -30px;
  bottom: -24px;
}

.about-paragraphs {
  width: 50%;
  margin-right: 164px;
}

.about-paragraphs p:first-child {
  margin-bottom: 20px;
}

.about-image {
  object-fit: cover;
}

.about-info {
  margin-top: 94px;
}

.about-info,
.about-info-box {
  display: flex;
  align-items: center;
}

.about-info-box {
  width: 60%;
}

.about-info-img {
  position: relative;
  margin-right: 132px;
}

.ellipse2 {
  position: absolute;
  z-index: -1;
  left: 31px;
  bottom: -12px;
}

.about-info-item:not(:last-child) {
  margin-right: 95px;
}

.about-info-item p {
  font-size: 18px;
  line-height: 23.4px;
}

.about-info-item h6 {
  font-weight: 700;
  font-size: 25px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .about-text {
    flex-direction: column;
  }

  .about-image {
    width: 170.55px;
    height: 160.29px;
    margin-top: 50px;
  }

  .about-image img {
    width: 100%;
  }

  .about-paragraphs {
    width: 100%;
    margin: 0;
    line-height: 18px;
  }

  .about-paragraphs p {
    font-size: 12px;
  }

  .about-info-img {
    display: none;
  }

  .about-info-item h6 {
    font-size: 12px;
  }

  .about-info-box {
    width: 80%;
    flex-wrap: wrap;
  }

  .about-info-item:not(:last-child) {
    margin-right: 22px;
  }

  .about-info-item {
    margin-bottom: 34px;
  }

  .about-info-item p {
    font-size: 10px;
    line-height: 13px;
  }

  .about-info-item {
    margin-right: 0;
  }

  .about-info {
    margin-top: 41px;
  }
}

h2 {
  font-size: var(--heading-font-size-55);
}

@media (min-width: 992px) and (max-width: 1279px) {
  .about h2 {
    font-size: 32px;
  }

  .about-paragraphs {
    margin-right: 195.04px;
    font-size: 14px;
    line-height: 21px;
  }

  .about-image {
    width: 205.86px;
    height: 233.44px;
  }

  .ellipse {
    width: 261.98px;
    left: -30px;
    bottom: 7px;
  }

  .man-image {
    width: 100%;
  }

  .about-info-img {
    width: 134.37px;
    height: 117.57px;
    margin-right: 76px;
  }

  .about-info-img img {
    width: 100%;
  }

  .ellipse2 {
    left: 9px;
  }

  .about-info-item h6 {
    font-size: 15px;
  }

  .about-info-item p {
    font-size: 11px;
    line-height: 14.13px;
  }

  .about-info-item:not(:last-child) {
    margin-right: 55.23px;
  }
}

/*#endregion  About */

.format {
  padding-top: 162px;
  margin-bottom: 85px;
}

.format-info-box {
  justify-content: flex-start;
  margin-top: 89px;
}

.format-info {
  padding-right: 5px;
}

.format-info:not(:last-child) {
  margin-right: 122px;
}

.format-info h5 {
  color: var(--blue-color);
  font-size: 25px;
  line-height: 32.5px;
}

.format-info p {
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 10px;
}

.learn-about {
  margin-top: 179px;
  margin-bottom: 21px;
}

.learn-about-list {
  width: 52%;
}

.learn-about-item {
  list-style-position: inside;
  font-size: 24px;
  line-height: 36px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .format {
    padding-top: 76px;
  }
  .format h2 {
    font-size: 26px;
    line-height: 26.36px;
  }

  .format-info {
    margin-top: 30px;
  }

  .format-info h5 {
    font-size: 12px;
    line-height: 15.6px;
  }

  .format-info p {
    font-size: 10px;
    line-height: 13px;
  }

  .format-info-box {
    flex-direction: column;
    margin-top: 16.66px;
  }

  .learn-about {
    margin-top: 73px;
    font-size: 26px;
    line-height: 26.36px;
  }

  .learn-about-list {
    width: 100%;
  }

  .learn-about-item {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .format h2 {
    font-size: 32px;
  }
  .format-info h5 {
    font-size: 15px;
  }

}
/*  =================================SASHA==============================================================*/
.programm-title{
  margin-top: 248px;
  margin-bottom: 125px;
  font-size: 55px;
  font-family: 'Roboto slab';
}
.programm-container{
  width: 95%;
  margin: 0 auto;
  max-width: 1271px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 121px;
}
.programm-item{
  border: 0px solid transparent;
  display: inline-block;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-bottom: 40px; 
  overflow: hidden;
}

.programm-item__bottom{
  position: relative;
  padding-left: 1px;
  padding-top: 1px;
}
.seminar{                     /*=====for 8 block=======*/
  position: absolute;
  top: 25px;
}
.nine{
  visibility: hidden;          /*===END===*/
}
.programm-item__image{
  overflow: hidden;
}
.programm-item__title{
  font-weight: 700;
  font-size: 30px;
  padding-top: 7px;
  padding-left: 18px;
  padding-bottom: 10px;
}
.programm-item__text{
  font-size: 25px;
  padding-left: 18px;
  padding-bottom: 20px;
  margin-top: 25px;
  line-height: 130%;
  font-weight: 400;
}


@media (max-width:1279px) {
  .programm-container{
    max-width: 736px;
  }
  .programm-item__image{
    width: 231px;
  }
  .programm-item__title{
    font-size: 17px;
  }
  .programm-item__text{
    font-size: 14px;
  }
}
@media (max-width:991px){
  .programm-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  .programm-item__image{
    width: 350px;
  }
  .programm-item{
    margin: 12px;
  }
  .nine{
    display: none;
  }
}
@media (max-width:760px){
  .reviews-content__top__text p{
    font-size: 14px;
  }
  .reviews-content__bottom__text p{
    font-size: 21px;
  }
}


/* =================REVIEWS===============*/
.reviews{
  background-color: #EFEFEF;
  padding-bottom: 111px;
}
.reviews-container{
  width: 85%;
  margin: 0 auto;
  max-width: 1271px;
}
.reviews__title{
padding-top: 91px;
padding-left: 13px;
padding-bottom: 72px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
}

.reviews-content{
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  max-width: 791px;
  margin-left:16px ;
}
.reviews-content__top__text{
  padding: 40px 45px 0;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 33px;
}

.reviews-content__bottom{
  display: flex;
  margin-left: 30px;
}
.reviews-content__bottom__text{
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 30px;
margin-left: 30px;
line-height: 101.38%;
display: flex;
flex-direction: column;
justify-content: center;

}
.reviews-content__bottom{
  padding-bottom: 25px;
}
.reviews-content__bottom-img{
  width: 32px;
  margin-top: 30px;
}
@media (max-width:524px) {
  .reviews-content__bottom{
    display: block;
    margin: 0 25px;
  }
  .reviews-content__bottom__photo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


  .format-info p {
    font-size: 11px;
    line-height: 14.3px;
  }

  .learn-about {
    font-size: 32px;
    line-height: 32.44px;
    margin-top: 103.55px;
  }

  .learn-about-list {
    width: 45%;
   
  }

  .learn-about-item {
    font-size: 14px;
    line-height: 21px;
  }
}

/*#endregion*/

